<ion-content [ngClass]="{'ion-no-padding':muestraMensaje, 'ion-padding': muestraMensaje == false }">
    <ion-row class="mt-24" [hidden]="muestraMensaje">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="volver()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </ion-row>
    <div [hidden]="muestraMensaje">
        <div *ngIf="!tieneHisSalud">
            <app-pagina-mensajes 
                titulo="No existe" 
                contenido="Datos ingresados no coinciden con registros existentes, para mayor información diríjase a su establecimiento de salud." 
                irA="step-uno-registro"
                textoBoton="Volver"
                usaIcon="true"
                iconName="information-circle"
            ></app-pagina-mensajes>
        </div>
        <div *ngIf="tieneHisSalud">
            <ion-row class="mt-16">
                <h1>Responde las preguntas</h1>
            </ion-row>
            <ion-row class="ion-text-justify">
                <p class="texto-1">A continuación {{nombre}} debes completar las
                    <strong> preguntas </strong> para seguir con el proceso de registro. Tienes {{cantidadIntentos}} intentos, después de eso se bloqueará por {{tiempoBloqueo}}.
                </p>
            </ion-row>
            <ion-row>
                <mat-vertical-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Primera pregunta requerida.">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{newListaPreguntas[0].Pregunta}}</span>
                            </ng-template>
                            <ng-container *ngIf="newListaPreguntas[0].Tipo === 1 || newListaPreguntas[0].Tipo === 3 || newListaPreguntas[0].Tipo === 4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[0].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(newListaPreguntas[0].Campo)" formControlName="firstCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="newListaPreguntas[0].Tipo === 2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(newListaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlCombo1" [matAutocomplete]="autoComRes">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsCombo1 | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                            
                            <div>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Segunda pregunta requerida.">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{newListaPreguntas[1].Pregunta}}</span>
                            </ng-template>
                            <ng-container *ngIf="newListaPreguntas[1].Tipo === 1 || newListaPreguntas[1].Tipo === 3 || newListaPreguntas[1].Tipo === 4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[1].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(newListaPreguntas[1].Campo)" formControlName="secondCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="newListaPreguntas[1].Tipo === 2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(newListaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlCombo2" [matAutocomplete]="autoComRes">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsCombo2 | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                            
                            <div>
                                <button mat-button color="warn" matStepperPrevious>Atrás</button>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="threeFormGroup" errorMessage="Tercera pregunta requerida">
                        <form [formGroup]="threeFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{newListaPreguntas[2].Pregunta}}</span>
                            </ng-template>
                            <ng-container *ngIf="newListaPreguntas[2].Tipo === 1 || newListaPreguntas[2].Tipo === 3 || newListaPreguntas[2].Tipo === 4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[2].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(newListaPreguntas[2].Campo)" formControlName="threeCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="newListaPreguntas[2].Tipo === 2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(newListaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(newListaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlCombo3" [matAutocomplete]="autoComRes">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsCombo3 | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                                                                                                                                         
                            <div>
                                <button mat-button color="warn" matStepperPrevious>Atrás</button>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Listo</ng-template>
                        <p><strong>¿Estás seguro de continuar?. </strong> </p>
                        <p>En caso de tener dudas con la información contáctese con su establecimiento de salud.</p>
                        <div>
                            <button mat-button color="warn" matStepperPrevious>Atrás</button>
                            <button mat-button color="primary" (click)="procesarRespuestasNew()">Enviar</button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </ion-row>

        </div>


    </div>
    <div [hidden]="!muestraMensaje">
        <app-pagina-mensajes [titulo]="objetoMensaje.titulo" [contenido]="objetoMensaje.contenido"
            [irA]="objetoMensaje.irA"></app-pagina-mensajes>
    </div>

</ion-content>