<ion-content [ngClass]="{'ion-no-padding':muestraMensaje, 'ion-padding': muestraMensaje == false }">
    <ion-row class="mt-24" [hidden]="muestraMensaje">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="volver()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </ion-row>
    <div [hidden]="muestraMensaje">
        <div *ngIf="!tieneHisSalud">
            <app-pagina-mensajes 
                titulo="No existe" 
                contenido="Datos ingresados no coinciden con registros existentes, para mayor información diríjase a su establecimiento de salud." 
                irA="step-uno-registro"
                textoBoton="Volver"
                usaIcon="true"
                iconName="information-circle"
            ></app-pagina-mensajes>
        </div>
        <div *ngIf="tieneHisSalud">
            <ion-row class="mt-16">
                <h1>Responde las preguntas</h1>
            </ion-row>
            <ion-row class="ion-text-justify">
                <p class="texto-1">A continuación {{nombre}} debes completar las
                    <strong> preguntas </strong> para seguir con el proceso de registro. Tienes 3 intentos, después de eso se bloqueará por 24 horas.
                </p>
            </ion-row>
            <ion-row>
                <mat-vertical-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{listaPreguntas[0].Pregunta}}</span>
                            </ng-template>
                            <ng-container 
                                *ngIf="
                                    listaPreguntas[0].Campo == 'ApellidoMaterno' ||
                                    listaPreguntas[0].Campo == 'ApellidoPaterno' ||
                                    listaPreguntas[0].Campo == 'FechaAtencion' ||
                                    listaPreguntas[0].Campo == 'Edad'
                                    ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(listaPreguntas[0].Campo)" formControlName="firstCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container 
                                *ngIf="
                                    listaPreguntas[0].Campo == 'ComunaNacimiento'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text"
                                           [placeholder]="separateWords(listaPreguntas[0].Campo)"
                                           aria-label="Number"
                                           matInput
                                           [formControl]="myControlComNac"
                                           [matAutocomplete]="autoComNac">
                                    <mat-autocomplete autoActiveFirstOption #autoComNac="matAutocomplete">
                                      <mat-option *ngFor="let option of filteredOptionsComunasNacimiento | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container> 
                            <ng-container *ngIf="
                                                            listaPreguntas[0].Campo == 'ComunaResidencia'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlComRes" [matAutocomplete]="autoComRes">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsComunasResidencia | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <!-- estado civil -->
                            <ng-container *ngIf="
                                listaPreguntas[0].Campo == 'EstadoCivil'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlECivil" [matAutocomplete]="autoECivil">
                                    <mat-autocomplete autoActiveFirstOption #autoECivil="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsEstadoCivil | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <!-- nacionalidad -->
                            <ng-container *ngIf="
                                listaPreguntas[0].Campo == 'Nacionalidad'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlNac" [matAutocomplete]="autoNac">
                                    <mat-autocomplete autoActiveFirstOption #autoNac="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsNacionalidad | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>      
                            <!-- prevision -->
                            <ng-container *ngIf="
                                listaPreguntas[0].Campo == 'Prevision'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlPrevision" [matAutocomplete]="autoPrev">
                                    <mat-autocomplete autoActiveFirstOption #autoPrev="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsPrevision | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>      
                            <!-- sector -->
                            <ng-container *ngIf="
                                listaPreguntas[0].Campo == 'Sector'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlSector" [matAutocomplete]="autoSec">
                                    <mat-autocomplete autoActiveFirstOption #autoSec="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsSector | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>   
                            <!-- tipo profesional -->
                            <ng-container *ngIf="
                                listaPreguntas[0].Campo == 'TipoProfesional'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[0].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlTProfesional" [matAutocomplete]="autoTProf">
                                    <mat-autocomplete autoActiveFirstOption #autoTProf="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsTProfesional | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                                                                                                         
                            <div>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{listaPreguntas[1].Pregunta}}</span>
                            </ng-template>
                            <ng-container 
                                *ngIf="
                                    listaPreguntas[1].Campo == 'ApellidoMaterno' ||
                                    listaPreguntas[1].Campo == 'ApellidoPaterno' ||
                                    listaPreguntas[1].Campo == 'FechaAtencion' ||
                                    listaPreguntas[1].Campo == 'Edad'
                                    ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(listaPreguntas[1].Campo)" formControlName="secondCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="
                                    listaPreguntas[1].Campo == 'ComunaNacimiento'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlComNac" [matAutocomplete]="autoComNac1">
                                    <mat-autocomplete autoActiveFirstOption #autoComNac1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsComunasNacimiento | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'ComunaResidencia'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[0].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlComRes" [matAutocomplete]="autoComRes1">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsComunasResidencia | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <!-- estado civil -->
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'EstadoCivil'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlECivil" [matAutocomplete]="autoECivil1">
                                    <mat-autocomplete autoActiveFirstOption #autoECivil1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsEstadoCivil | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>   
                            <!-- nacionalidad -->
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'Nacionalidad'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlNac" [matAutocomplete]="autoNac1">
                                    <mat-autocomplete autoActiveFirstOption #autoNac1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsNacionalidad | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>      
                            <!-- prevision -->
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'Prevision'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlPrevision" [matAutocomplete]="autoPrev1">
                                    <mat-autocomplete autoActiveFirstOption #autoPrev1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsPrevision | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>     
                            <!-- sector -->
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'Sector'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlSector" [matAutocomplete]="autoSec1">
                                    <mat-autocomplete autoActiveFirstOption #autoSec1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsSector | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>   
                            <!-- tipo profesional -->
                            <ng-container *ngIf="
                                listaPreguntas[1].Campo == 'TipoProfesional'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[1].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[1].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlTProfesional" [matAutocomplete]="autoTProf1">
                                    <mat-autocomplete autoActiveFirstOption #autoTProf1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsTProfesional | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                                                                                                                                            
                            <div>
                                <button mat-button color="warn" matStepperPrevious>Atrás</button>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="threeFormGroup" errorMessage="Other is required.">
                        <form [formGroup]="threeFormGroup">
                            <ng-template matStepLabel>
                                <span class="mat-step-label">{{listaPreguntas[2].Pregunta}}</span>
                            </ng-template>
                            <ng-container 
                            *ngIf="
                                listaPreguntas[2].Campo == 'ApellidoMaterno' ||
                                listaPreguntas[2].Campo == 'ApellidoPaterno' ||
                                listaPreguntas[2].Campo == 'FechaAtencion' ||
                                listaPreguntas[2].Campo == 'Edad'
                                ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input matInput [placeholder]="separateWords(listaPreguntas[2].Campo)" formControlName="threeCtrl">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'ComunaNacimiento'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlComNac" [matAutocomplete]="autoComNac2">
                                    <mat-autocomplete autoActiveFirstOption #autoComNac2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsComunasNacimiento | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'ComunaResidencia'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlComRes" [matAutocomplete]="autoComRes2">
                                    <mat-autocomplete autoActiveFirstOption #autoComRes2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsComunasResidencia | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <!-- estado civil -->
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'EstadoCivil'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlECivil" [matAutocomplete]="autoECivil2">
                                    <mat-autocomplete autoActiveFirstOption #autoECivil2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsEstadoCivil | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>    
                            <!-- nacionalidad -->
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'Nacionalidad'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlNac" [matAutocomplete]="autoNac2">
                                    <mat-autocomplete autoActiveFirstOption #autoNac2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsNacionalidad | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>    
                            <!-- prevision -->
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'Prevision'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlPrevision" [matAutocomplete]="autoPrev2">
                                    <mat-autocomplete autoActiveFirstOption #autoPrev2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsPrevision | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>   
                            <!-- sector -->
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'Sector'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlSector" [matAutocomplete]="autoSec2">
                                    <mat-autocomplete autoActiveFirstOption #autoSec2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsSector | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>  
                            <!-- tipo profesional -->
                            <ng-container *ngIf="
                                listaPreguntas[2].Campo == 'TipoProfesional'">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{separateWords(listaPreguntas[2].Campo)}}</mat-label>
                                    <input type="text" [placeholder]="separateWords(listaPreguntas[2].Campo)" aria-label="Number" matInput
                                        [formControl]="myControlTProfesional" [matAutocomplete]="autoTProf2">
                                    <mat-autocomplete autoActiveFirstOption #autoTProf2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsTProfesional | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>                                                                                                                                                
                            <div>
                                <button mat-button color="warn" matStepperPrevious>Atrás</button>
                                <button mat-button color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Listo</ng-template>
                        <p><strong>¿Estás seguro de continuar?. </strong> </p>
                        <p>En caso de tener dudas con la información contáctese con su establecimiento de salud.</p>
                        <div>
                            <button mat-button color="warn" matStepperPrevious>Atrás</button>
                            <button mat-button color="primary" (click)="procesarRespuestas()">Enviar</button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </ion-row>

        </div>


    </div>
    <div [hidden]="!muestraMensaje">
        <app-pagina-mensajes [titulo]="objetoMensaje.titulo" [contenido]="objetoMensaje.contenido"
            [irA]="objetoMensaje.irA"></app-pagina-mensajes>
    </div>

</ion-content>