.centrado{
    text-align: center;
    width: 100%;       
    height: 20%;
    /*position: absolute;*/
    top:5%;
    padding-top: 5%;  
    padding-left: 60px;
    padding-right: 60px;         
}
.titulo-item-2{
    font-size: 16px;
    color: #000000DE;
}