.mt-32{
  margin-top: 32px;
}
.mt-24{
  margin-top: 24px;
}
.mt-80{
  margin-top: 5em;
}
.mt-40{
  margin-top: 2.5em;
}
.mt-36{
  margin-top: 2.25em;
}
/* .texto-1{
  font-size: 0.875em;
  color: #0000008A;
  
} */
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.offline-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e74c3c; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra debajo del recuadro */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.offline-bar ion-icon {
  font-size: 24px; /* Tamaño del icono */
  margin-bottom: 5px; /* Espacio entre el icono y el texto */
}

.offline-bar p {
  font-size: 14px; /* Tamaño del texto */
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}
