.mt-32{
  margin-top: 32px;
}
.mt-24{
  margin-top: 24px;
}
.mt-80{
  margin-top: 5em;
}
.mt-40{
  margin-top: 2.5em;
}
.mt-36{
  margin-top: 2.25em;
}
.texto-1{
  font-size: 0.875em;
  color: #0000008A;
  
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

//Ajustes de estilos 
.accent-color {
  color: #FF4081;
}

.boton-Principal {
  background-color: #FF4081;
  color: #ffffff;
}