<ion-content class="ion-padding" [fullscreen]="true">
  <app-progress [mostrar]="estaCargando" titulo="Estamos ingresando a la app"></app-progress>

  <div [hidden]="estaCargando" class="row mt-24">
    <img src="../../assets/imgs_svg/login.svg" alt="asistente"/>
  </div>
  <form [hidden]="estaCargando" [formGroup]="forma" novalidate>
    <ion-row class="ion-no-margin ion-no-padding mt-80">
      <!-- solo para enrolamiento -->
      <mat-form-field appearance="outline" style="width: 100%;" [hidden]="usaEnrolamiento == false">
        <mat-label>RUN</mat-label>
        <input matInput placeholder="125458524" formControlName="run" name="run">
        <mat-error [hidden]="usaEnrolamiento == false">Run requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;" [hidden]="usaEnrolamiento">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="ejemplo@gmail.com" formControlName="email" name="email">
        <!--<mat-error [hidden]="usaEnrolamiento">Correo requerido</mat-error>-->
        <mat-error [hidden]="usaEnrolamiento">Correo inválido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Clave" type="password" name="clave" formControlName="clave" required>
        <mat-error [hidden]="!(f.clave.errors && f.clave.errors.required)">Clave requerida</mat-error>
      </mat-form-field>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin mt-40">
      <button class="boton-Principal" mat-raised-button color="primary" style="width: 90%; margin-left: 5%; height:36px;" (click)="onSubmit()">INICIAR SESION</button>
    </ion-row>
  </form>
  <ion-row [hidden]="estaCargando" class="mt-36" [hidden]="usaEnrolamiento">
    <a mat-button routerLink="." color="primary" class="ion-text-center accent-color" style="width: 100%;" (click)="irRecuperarClave()">¿Olvidaste tu contraseña?</a>
  </ion-row>
  <ion-grid [hidden]="estaCargando" class="ion-no-padding mt-36">
    <ion-row>
      <ion-col class="ion-text-center texto-1" style="margin-top:8px;">
        ¿No tienes cuenta?
      </ion-col>
      <ion-col>
        <button class="accent-color" (click)="abrirAsistente()" mat-button color="primary">REGISTRATE</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
