<ion-content class="ion-padding back-app" [fullscreen]="true" style="display: contents;">
  <!-- <ion-content class="ion-padding" class="back-app"> -->
    <app-progress [mostrar]="estaCargandoHome" titulo="Estamos ingresando a la app" style="text-align: center;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 20%;
    padding-left: 0;
    padding-right: 60px;"></app-progress>
    <div id="container" [hidden]="estaCargandoHome">
      <div class="row mt-24">
        <img src="../../assets/imgs_svg/login.svg" alt="asistente" />
      </div>
      <form [formGroup]="forma" novalidate>
        <ion-row class="ion-no-margin ion-no-padding mt-80"  *ngIf="recordarme == false">
          <!-- solo para enrolamiento -->
          <mat-form-field appearance="outline" style="width: 100%;" [hidden]="usaEnrolamiento == false">
            <mat-label>RUN</mat-label>
            <input matInput placeholder="125458524" formControlName="run" name="run">
            <mat-error [hidden]="usaEnrolamiento == false">Run requerido</mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline" style="width: 100%;" [hidden]="usaEnrolamiento">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="ejemplo@gmail.com" formControlName="email" name="email">
            <!--<mat-error [hidden]="usaEnrolamiento">Correo requerido</mat-error>-->
            <mat-error [hidden]="usaEnrolamiento">Correo inválido</mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Clave" type="password" name="clave" formControlName="clave" required>
            <mat-error [hidden]="!(f.clave.errors && f.clave.errors.required)">Clave requerida</mat-error>
          </mat-form-field>
    
        </ion-row>
        <ion-row class="ion-no-margin ion-no-padding mt-80 ion-text-center" *ngIf="recordarme  && nombreCompleto != ''">
          <img [src]="miFoto" alt="Avatar" class="avatar">
          <h1 class="ion-padding" style="width: 100%;">Bienvenido {{nombreCompleto}}</h1>
          <!-- <app-avatar [lines]="'none'" [urlImagen] = "miFoto" [nombreCompleto]="'Bienvenido'" [parentezco]="nombreCompleto"></app-avatar> -->
        </ion-row>
        <ion-row>
          <ion-item lines="none" style="width: 100%; padding: 0; margin: 0;" class="col">
            <ion-label>Recordarme</ion-label>
            <ion-checkbox color="primary" [checked]="recordarme" slot="start" (ionChange)="onChange($event)"
              mode="ios"></ion-checkbox>
          </ion-item>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin mt-32">
          <button class="boton-Principal" mat-raised-button color="primary"
            style="width: 90%; margin-left: 5%; height:36px;" (click)="onSubmit()" *ngIf="recordarme == false">INICIAR SESION</button>
            <button class="boton-Principal" mat-raised-button color="primary"
            style="width: 90%; margin-left: 5%; height:36px;" (click)="onSubmitRecordarme()" *ngIf="recordarme">INICIAR SESION</button>
        </ion-row>
      </form>
      <ion-row class="mt-36" [hidden]="usaEnrolamiento">
        <a mat-button routerLink="." color="primary" class="ion-text-center accent-color"
          style="width: 90%;margin-left: 5%;" (click)="irRecuperarClave()">¿Olvidaste tu contraseña?</a>
      </ion-row>
      <ion-grid class="ion-no-padding mt-36">
        <ion-row>
          <ion-col class="ion-text-center texto-1" style="margin-top:8px;">
            ¿No tienes cuenta?
          </ion-col>
          <ion-col>
            <button class="accent-color" (click)="abrirAsistente()" mat-button color="primary">REGISTRATE</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  
  </ion-content>
