.centrado{
    text-align: center;
    width: 100%;       
    height: 50%;
    position: absolute;
    top:25%;  
    padding-left: 6%;
    padding-right: 10%;         
}
/* .titulo-item-2{
    font-size: 16px;
    color: #000000DE;
} */
.mt-32{
    margin-top: 32px;
}
.texto-1{
    font-size: 1.3em;
    color: #575657;
    
}
.custom-icon{
    font-size: 60px;
}