<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Interconsultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <ion-slide>
    <div class="slide">
      <div class="row">
        <img src="../../assets/imgs_svg/interconsulta_desactivado.svg" alt="asistente" />
      </div>
      <div class="ion-padding">
        <div class="mt-16 ion-text-center font-title" style="padding: 16px; font-size: 20px;">Seguimiento de interconsultas</div>
        <p class="mt-32 ion-text-center">
          Visualice el seguimiento de las <strong>solicitudes de interconsultas </strong> 
          entre su establecimiento de atención primaria y el nivel secundario (hospitales)
        </p>
        <div class="row mt-32">
          <button mat-raised-button color="primary" class="boton-sig" (click)="slides.slideNext()">SIGUIENTE</button>
        </div>
      </div>
    </div>
  </ion-slide> -->
  <div>
    <div class="row">
      <img src="../../assets/imgs_svg/interconsulta_desactivado.svg" alt="interconsulta" />
    </div>
    <div class="ion-padding">
      <div class="mt-16 ion-text-center font-title" style="padding: 16px; font-size: 20px;">Seguimiento de interconsultas</div>
      <p class="mt-32 ion-text-center">
        Visualice el seguimiento de las <strong>solicitudes de interconsultas </strong> 
        entre su establecimiento de atención primaria y el nivel secundario (hospitales)
      </p>
    </div>
  </div>
<!--   <div style="padding-top: 162px; font-size: 30px; color:#BDBDBD; text-align: center;"><p>Pronto estarémos habilitados  <br>
    <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon></p>
  </div> -->
</ion-content>
