<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Interconsultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="row">
      <img src="../../assets/imgs_svg/interconsulta_desactivado.svg" alt="interconsulta" />
    </div>
    <div class="ion-padding">
      <div class="mt-16 ion-text-center font-title" style="padding: 16px; font-size: 20px;">Seguimiento de interconsultas</div>
      <p class="mt-32 ion-text-center">
        Visualice el seguimiento de las <strong>solicitudes de interconsultas </strong> 
        entre su establecimiento de atención primaria y el nivel secundario (hospitales)
      </p>
    </div>
  </div>
</ion-content>
