<ion-header class="back-app">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/home" class="fcw"></ion-back-button> -->
      <ion-back-button (click)="irHome()" defaultHref="/" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Calendario</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <mat-form-field appearance="fill" class="field-tipo-atencion-calendar">
      <mat-label>Tipo evento</mat-label>
      <mat-select [disabled]="estaCargando" [(ngModel)]="filtroDefecto" (selectionChange)="filtrarCategorias($event)">
        <mat-option *ngFor="let tipo of categoriasEventos" [value]="tipo">{{tipo}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ion-toolbar>
  <ion-item lines="none" style="padding-top: 15px;" [hidden]="estaCargando">
    <app-avatar [style]="false" [urlImagen] = "usuarioAps.UrlImagen" [nombreCompleto]="usuarioAps.Nombres + ' ' + usuarioAps.ApellidoPaterno + ' ' + usuarioAps.ApellidoMaterno" [parentezco]="usuarioAps.Parentezco.Nombre"></app-avatar>
  </ion-item>
</ion-header>

<ion-content class="back-app" style="--padding-bottom: 50px !important;" #content>
<app-progress [mostrar]="estaCargando" [titulo]="tituloLoading"></app-progress>
 <div *ngIf="!tiene">
  <div [hidden]="estaCargando" *ngFor="let item of citasVerticalTodasTop">
    <ion-grid *ngIf="item.Mostrar">
      <app-card-calendario [fechaActual]="fechaActual" [item]="item" [anioActual]="anioActual"></app-card-calendario>
      <ion-row class="ion-no-padding ion-no-margin row-card"
        *ngIf="item.Eventos[0].NombrePrincipal != 'Nada planificado para hoy'">
        <mat-card *ngFor="let evento of item.Eventos" color="light" style="margin-bottom: 8px;" id="myListCard">
          <mat-card-header (click)="goToDetalleCita(evento)">
    
            <mat-card-subtitle class="hora">{{evento.HoraInicioFin}}</mat-card-subtitle>
            <mat-card-title>{{evento.DetalleEventoMes.Titulo}}</mat-card-title>
            <mat-card-subtitle class="ion-text-capitalize">{{evento.DetalleEventoMes.NombrePaciente.toLowerCase()}}
            </mat-card-subtitle>
    
            <div class="img-card">
              <img class="example-header-image" src="./assets/imgs_svg/{{evento.Imagen}}">
            </div>
          </mat-card-header>
          <mat-card-actions *ngIf="revisaEstado(evento)">
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Anular')[1]"
              (click)="presentAlertConfirm(botonCancelar, evento)">ANULAR</button>
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Confirmar')[0]"
              (click)="presentAlertConfirm(botonConfirmar, evento)">CONFIRMAR</button>
          </mat-card-actions>
        </mat-card>
      </ion-row>
      <hr
        *ngIf="transformDate(item.FechaCompleta, 'YYYY-MM-DD') == fechaActual && item.Eventos[0].NombrePrincipal != 'Nada planificado para hoy'">
    </ion-grid>
    </div>
  <div style="position: absolute; display: table; height: 90%;font-size: 16px; color:rgba(0, 0, 0, 0.54); text-align: center; width: -webkit-fill-available;" class="ion-padding">
    <p style="display: table-cell; vertical-align: middle">No tiene actividades  <br>
      programadas para el futuro</p>
  </div>
 </div>
 <div *ngIf="tiene">
   <div [hidden]="estaCargando" *ngFor="let item of citasVerticalTodasTop">
    <ion-grid *ngIf="item.Mostrar">
      <app-card-calendario [fechaActual]="fechaActual" [item]="item" [anioActual]="anioActual"></app-card-calendario>
      <ion-row class="ion-no-padding ion-no-margin row-card" *ngIf="item.Eventos[0].NombrePrincipal != 'Nada planificado para hoy'">
        <mat-card *ngFor="let evento of item.Eventos" color="light" style="margin-bottom: 8px;" id="myListCard" [hidden]="evento.DetalleEventoMes.Mostrar == false">
          <mat-card-header (click)="goToDetalleCita(evento)">
            
              <mat-card-subtitle *ngIf="evento.DetalleEventoMes.Titulo != 'Vacuna administrada' || evento.HoraInicioFin == '00:00'" class="hora">{{evento.HoraInicioFin}}</mat-card-subtitle>
              <mat-card-title class="ion-text-capitalize" *ngIf="!evento.DetalleEventoMes.Titulo.toLowerCase().includes('fármaco')">{{evento.DetalleEventoMes.DescripcionPrincipal.toLowerCase()}}</mat-card-title>
              <!-- farmacos -->
              <mat-card-title class="ion-text-capitalize" *ngIf="evento.DetalleEventoMes.Titulo.toLowerCase().includes('fármaco')">{{evento.DetalleEventoMes.DescripcionSecundaria.toLowerCase()}}</mat-card-title>
              <mat-card-subtitle class="ion-text-capitalize">{{evento.DetalleEventoMes.Titulo}}</mat-card-subtitle>
              <!-- solo para citas -->
              <mat-card-subtitle class="ion-text-capitalize" *ngIf="evento.DetalleEventoMes.Subtitulo.toLowerCase().includes('próxima cita')"><strong>{{evento.DetalleEventoMes.Lugar.toLowerCase()}}</strong></mat-card-subtitle>
              <!-- solo para alimentos -->
              <mat-card-subtitle class="ion-text-capitalize" *ngIf="evento.DetalleEventoMes.Subtitulo.toLowerCase().includes('alimento') && evento.DetalleEventoMes.DescripcionSecundaria != ''"><strong>Cantidad: {{evento.DetalleEventoMes.DescripcionSecundaria.toLowerCase()}}</strong></mat-card-subtitle>
            <div class="img-card">
              <img class="example-header-image" src="./assets/imgs_svg/{{evento.Imagen}}">
            </div>
          </mat-card-header>
          <mat-card-actions *ngIf="revisaEstado(evento)">
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Anular')[1]" (click)="presentAlertConfirm(botonCancelar, evento)">ANULAR</button>
            <button color="primary" mat-button *ngIf="revisarCita(evento, 'Confirmar')[0]" (click)="presentAlertConfirm(botonConfirmar, evento)">CONFIRMAR</button>
          </mat-card-actions>
        </mat-card>
      </ion-row>
      <hr *ngIf="transformDate(item.FechaCompleta, 'YYYY-MM-DD') == fechaActual && item.Eventos[0].NombrePrincipal != 'Nada planificado para hoy'">
    </ion-grid>
  </div>
  <!-- mostrar cuando no tenga eventos futuros y si tenga eventos pasados -->
  <div *ngIf="!tieneEventosFuturos" [hidden]="estaCargando">
    <div style="display: table; height: 10%;font-size: 16px; color:rgba(0, 0, 0, 0.54); text-align: center; width: -webkit-fill-available;" class="ion-padding">
          <p style="display: table-cell; vertical-align: middle">No tiene actividades  <br>
            programadas para el futuro</p>
        </div>
  </div>
  <!-- pruebas con infinite scroll -->
<!--   <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más eventos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
 </div>
</ion-content>
<!-- este es el fab para abrir reservar horas -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="estaCargando" *ngIf="!ocultaBotonReserva" style="min-height: 48px;">
  <ion-button color="secondary" (click)="openReservarHoraPage()" shape="round" style="min-height: 48px;">
    <ion-icon slot="start" name="calendar-outline" style="font-size: 24px;margin-right: 12px;"></ion-icon>
    <span class="botonReservar" style="font-size: 1em;">RESERVAR HORA</span>
  </ion-button>
</ion-fab>
<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed" [hidden]="estaCargando" *ngIf="!ocultaBotonReserva" style="min-height: 48px;">
  <ion-button color="secondary" (click)="scrollListVisibleTop()" shape="round" style="min-height: 48px;">
    <ion-icon slot="start" name="calendar-outline" style="font-size: 24px;margin-right: 12px;"></ion-icon>
  </ion-button>
</ion-fab> -->
<ion-fab horizontal="start" vertical="bottom" slot="fixed" [hidden]="estaCargando" *ngIf="muestraArribaAbajo && posicion == 'top'" (click)="scrollListVisible()">
  <ion-fab-button color="light">
    <ion-icon name="caret-down"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab horizontal="start" vertical="bottom" slot="fixed" [hidden]="estaCargando" *ngIf="muestraArribaAbajo && posicion == 'bottom'" (click)="scrollListVisibleTop()">
  <ion-fab-button color="light">
    <ion-icon name="caret-up"></ion-icon>
  </ion-fab-button>
</ion-fab>
