<ion-header>
    <!-- <ion-toolbar [style.--background]="miColor"> -->
    <ion-toolbar color="primary">
      <ion-title class="home">Alertas</ion-title>
      <ion-buttons slot="end" class="pdr10" (click)="dismiss()">
        <ion-icon class="home" slot="icon-only" name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="back-app">
    <app-progress [mostrar]="estaCargando" [titulo]="tituloLoading"></app-progress>
    <div [hidden]="estaCargando">

      <!-- aca debe ir el avatar -->
      <ion-list *ngFor="let item of notificaciones">
        <ion-item lines="none">
            <!-- poner avatar -->
            <ion-avatar slot="start">
              <img *ngIf="item.UsuarioAps.UrlImagen != ''" src={{item.UsuarioAps.UrlImagen}}>
              <img *ngIf="item.UsuarioAps.UrlImagen == ''" src="../assets/img/no-imagen.jpg">
            </ion-avatar>
            <ion-row style="display: block;">
              <div class="text-avatar">{{item.Subtitulo}}</div>
              <div class="subtext-avatar">{{item.UsuarioAps.Parentezco.Nombre}}</div>
            </ion-row>
          </ion-item>
        <!-- aca el contenido de las alertas [hidden]="info.IrA == null" -->
        <ion-item lines="full" button detail [hidden]="item.IrA == null" (click)="openNotificacion(item.IrA)">
            <ion-row style="display: block; width: 100%;">
                <div class="text-avatar">{{item.Titulo}}</div>
                <div class="subtext-avatar">{{item.Contenido}}</div>
            </ion-row>
        </ion-item>
        <ion-item lines="full" [hidden]="item.IrA != null">
            <ion-row style="display: block; width: 100%;">
                <div class="text-avatar">{{item.Titulo}}</div>
                <div class="subtext-avatar">{{item.Contenido}}</div>
            </ion-row>
        </ion-item>
    </ion-list>
    </div>
  
  </ion-content>