<ion-header class="back-app">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Actualizar datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back-app">
  <app-progress [mostrar]="estaCargando" titulo="Buscando familia"></app-progress>
  <!-- si no hay registros -->
  <div [hidden]="estaCargando" *ngIf="hayInfo == false" style="padding-top: 162px; padding-left: 16px; padding-right: 16px; font-size: 30px; text-align: center;"><p>No hay familiares para mostrar  <br>
    <ion-icon name="information-circle" style="font-size: 60px;"></ion-icon></p>
  </div>

  <div [hidden]="estaCargando" *ngIf="listadoUsuario.length > 0" style="padding-top: 16px;">
    <div class="ion-padding">
      <p class="texto-item" style="font-size: 14pt;letter-spacing: 0.25pt;line-height: 20pt;">
        Modifica la imagen del avatar, el telefono o el e-mail de los miembros de tu familia en el centro de salud.
      </p>
    </div>
    <div *ngFor="let item of listadoUsuario">
      <ion-item lines="inset">
        <!-- poner avatar -->
        <ion-avatar slot="start" (click)="irAjustes(item)">
          <img *ngIf="item.UrlImagen != ''" src={{item.UrlImagen}}>
          <img *ngIf="item.UrlImagen == ''" src="../assets/img/no-imagen.jpg">
        </ion-avatar>
        <ion-row style="display: block;" (click)="abrirContactabilidad(item)">
          <div class="text-avatar">{{item.Nombres + ' ' + item.ApellidoPaterno + ' ' + item.ApellidoMaterno}}</div>
          <div class="subtext-avatar">{{item.Parentezco.Nombre}}</div>
        </ion-row>
      </ion-item>
    </div>
  </div>

  

</ion-content>