.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.mt-24{
    margin-top: 24px;
}
.mt-80{
    margin-top: 5em;
}
.mt-40{
    margin-top: 2.5em;
}
.mt-36{
    margin-top: 2.25em;
}
.mt-52{
    margin-top: 3.25em;
}
.texto-1{
    font-size: 1.2em;
    color: #575657;
    
}