<ion-header>
  <!-- <ion-toolbar [style.--background]="miColor"> -->
  <ion-toolbar>
    <ion-title class="home">{{data.DetalleEventoMes.Titulo}}</ion-title>
    <ion-buttons slot="end" class="pdr10" (click)="dismiss()">
      <ion-icon class="home" slot="icon-only" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="back-app">
  <app-progress [mostrar]="estaCargando" [titulo]="tituloLoading"></app-progress>
  <div [hidden]="estaCargando">
    <div>
      <img src="./assets/imgs_svg/{{data.Imagen}}" style="width:100%">
    </div>
    <!-- aca debe ir el avatar -->
    <ion-list>
      <ion-item lines="none">
        <!-- poner avatar -->
        <app-avatar [style]="styleAvatar" [urlImagen] = "miImagen" [nombreCompleto]="miNombre" [parentezco]="miParentezco"></app-avatar>
      </ion-item>
<!--       <ion-item lines="none">
        <ion-label class="ion-text-wrap ion-text-capitalize titulo-evento" style="font-size: 20px;">{{data.DetalleEventoMes.DescripcionPrincipal.toLowerCase()}}&nbsp;{{dosis}}</ion-label>
      </ion-item> -->
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-wrap ion-text-capitalize titulo-evento" style="font-size: 20px;padding-right: 8px;">{{data.DetalleEventoMes.DescripcionPrincipal.toLowerCase()}}&nbsp;{{dosis}}</ion-label>
      </ion-list-header>
      <!-- Vacunas administradas y por administrar -->
      <ion-item
        *ngIf="data.DetalleEventoMes.Subtitulo == 'Vacuna Administrada' || data.DetalleEventoMes.Subtitulo == 'Vacuna por administrar'">
        <ion-label>Dosis</ion-label>
        <ion-label class="ion-text-capitalize ion-text-wrap">{{data.DetalleEventoMes.DescripcionSecundaria}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <!-- <ion-label class="ion-text-wrap">{{data.DetalleEventoMes.FechaHora}}</ion-label> -->
        <ion-label class="ion-text-wrap">{{transformaHora(data)}}</ion-label>
      </ion-item>
      <!-- proxima cita -->
      <ion-item *ngIf="data.DetalleEventoMes.Subtitulo == 'Próxima Cita' || data.DetalleEventoMes.Subtitulo == 'Próxima Cita Web'">
        <ion-label>Profesional</ion-label>
        <ion-label class="ion-text-capitalize ion-text-wrap">{{profesional.toLowerCase()}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Establecimiento</ion-label>
        <ion-label class="ion-text-capitalize ion-text-wrap">{{data.DetalleEventoMes.Lugar.toLowerCase()}}  </ion-label>
      </ion-item>
      <!-- tiene farmacos -->
      <!-- <div *ngIf="farmacos"> -->
        <div *ngIf="farmacos">
        <h3 id="tituloPrescripcion" *ngIf="farmacos.length == 0" margin text-center style="font-size: 1.9rem; padding:7px;">
        </h3>
        <h3 class="ion-padding" id="tituloPrescripcion" *ngIf="farmacos.length > 0" margin text-center [ngStyle]="{'background-color': data.Color}"
          style="font-family: 'Roboto';font-size: 1.25em;color: #000000DE;letter-spacing: 0.15px;">{{title}}</h3>
        </div>        
        <ion-item  *ngFor='let item of farmacos' class="ion-no-padding ion-no-margin">
          <ion-icon item-start><i class="care-pill pill"></i></ion-icon>
          <p text-wrap class="medic">{{ split(item.DescripcionPrincipal,":",0) }}</p>
          <p text-wrap class="medic down">{{ split(item.DescripcionPrincipal,":",1) }}</p>
        </ion-item>
      <!-- </ion-list> -->
    </ion-list>
    <ion-row class="ion-padding-top ion-padding-start" *ngIf="(data.DetalleEventoMes.Subtitulo == 'Próxima Cita Web' || data.DetalleEventoMes.Subtitulo == 'Próxima Cita') && data.DetalleEventoMes.Estado != ''">
        <button *ngIf="botonConfirmar.Visible" (click)="presentAlertConfirm(botonConfirmar)" mat-raised-button color="primary" style="margin-right: 16px;">{{botonConfirmar.Titulo}}</button>
        <button  *ngIf="botonReservar.Visible" (click)="presentAlertConfirm(botonReservar)" mat-raised-button color="primary" style="margin-right: 16px;">{{botonReservar.Titulo}}</button>
        <button *ngIf="botonCancelar.Visible" (click)="presentAlertConfirm(botonCancelar)" mat-stroked-button color="primary">{{botonCancelar.Titulo}}</button>
    </ion-row>
  </div>

</ion-content>
