.text-avatar-1{
    color:#000000DE;
    font-size: 16pt;
    letter-spacing: 0.5pt;
    margin-top: 12px;
}
.subtext-avatar-1{
    color:#00000099;
    font-size: 14pt;
    letter-spacing: 0.25pt;
    margin-bottom: 12px;
}
.text-solicitud{
    color:#000000DE;
    font-size: 12pt;
    letter-spacing: 0.4pt;
    margin-top: 12px;
}