<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pre-ordenes" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Exámenes</ion-title>
    <ion-buttons *ngIf="tiene" slot="end" (click)="modalBusqueda()" style="padding-right: 16px;">
      <ion-icon class="fcw" slot="icon-only" name="funnel"></ion-icon>
    </ion-buttons> 
    <ion-buttons *ngIf="tiene" slot="end" (click)="buscar()" style="padding-right: 16px;">
      <ion-icon class="fcw" slot="icon-only" name="search"></ion-icon>
    </ion-buttons> 
  </ion-toolbar>
  <ion-toolbar  *ngIf="mostrarBusqueda" mode="md">
    <ion-searchbar placeholder="Nombre examen" (ionInput)="filterList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="back-app">
<!--SI HAY ORDENES -->
<app-progress [mostrar]="estaCargando" [titulo]="tituloProgress"></app-progress>
<div [hidden]="estaCargando" style="padding-top: 24px;">
  <ion-item lines="none" style="padding-bottom: 24px;">
    <!-- poner avatar -->
    <ion-avatar slot="start">
      <img *ngIf="usuarioAps.UrlImagen != ''" src={{usuarioAps.UrlImagen}}>
      <img *ngIf="usuarioAps.UrlImagen == ''" src="../assets/img/no-imagen.jpg">
    </ion-avatar>
    <ion-row style="display: block;">
      <div class="text-avatar">{{usuarioAps.Nombres + ' ' + usuarioAps.ApellidoPaterno + ' ' + usuarioAps.ApellidoMaterno}}</div>
      <div class="subtext-avatar">{{usuarioAps.Parentezco.Nombre}}</div>
    </ion-row>
  </ion-item>
</div>
<!-- nueva implementación -->
<div [hidden]="estaCargando">
  <div *ngFor="let exa of listadoExamenesCompleto">
    <ion-card *ngIf="usuarioLogueado.Id == usuarioAps.Id || (usuarioLogueado.Id != usuarioAps.Id && exa.EsPrivado == false)">
      <ion-card-header style="padding-bottom: 0;">
        <ion-card-title class="ion-text-justify">
          <ion-item lines="none" class="ion-no-padding">
            <ion-toggle mode="ios" [checked]="exa.EsPrivado" [(ngModel)]="exa.EsPrivado"
              (ionChange)="onChangeEsPrivado($event, exa)" *ngIf="usuarioLogueado.Id == usuarioAps.Id && compartoMiInfo"></ion-toggle>
            <ion-label class="ion-padding-start" *ngIf="usuarioLogueado.Id == usuarioAps.Id && compartoMiInfo">Es Privado</ion-label>
            <ion-badge slot="end">{{exa.FechaSolicitud}}</ion-badge>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap text-avatar-1">{{exa.NombreExamen}}</ion-label>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" *ngIf="exa.Resultados?.length == 0">
          <ion-icon name="checkmark-outline" color="danger"></ion-icon>
          <ion-label class="ion-padding-start" *ngIf="exa.FechaMuestra != '01-01-0001'">
            Fecha de toma {{exa.FechaMuestra}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="exa.Resultados?.length != 0">
          <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
          <ion-label class="ion-padding-start">
            Fecha resultados {{exa.FechaResultado}}
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="ordenSelectedCompleto(exa)">Ver</ion-button>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </div>


    <!-- <ion-item lines="full" *ngFor="let exa of listadoExamenesCompleto"> -->
<!--       <ion-grid>
        <ion-row style=" width: 100%;" *ngIf="usuarioLogueado.Id == usuarioAps.Id && compartoMiInfo">
          <ion-col size="12"> 
          <ion-label>Es Privado</ion-label>
          <ion-toggle mode="ios" [checked]="exa.EsPrivado" [(ngModel)]="exa.EsPrivado" 
            (ionChange)="onChangeEsPrivado($event)"></ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row style=" width: 100%;"><ion-col size="12">
          <ion-grid (click)="ordenSelectedCompleto(exa)">
            <ion-row style=" width: 100%;">
              <ion-col size="8">
                <div class="text-avatar-1">{{exa.NombreExamen}}</div>
              </ion-col>
              <ion-col size="4">
                <div class="text-solicitud" style="float: right;">{{exa.FechaSolicitud}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row class="subtext-avatar-1" *ngIf="exa.Resultados?.length == 0">
                  <ion-col *ngIf="exa.FechaMuestra != '01-01-0001'" size="10">
                    Fecha de toma {{exa.FechaMuestra}}
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="checkmark-outline" color="danger"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row class="subtext-avatar-1" *ngIf="exa.Resultados?.length != 0">
                  <ion-col size="10">
                    Fecha resultados {{exa.FechaResultado}}
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
                  </ion-col>
        
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col></ion-row>
      </ion-grid> -->
<!--       <ion-item lines="none" slot="end" *ngIf="usuarioLogueado.Id == usuarioAps.Id && compartoMiInfo">
        <ion-label>Es Privado</ion-label>
        <ion-toggle mode="ios" [checked]="exa.EsPrivado" [(ngModel)]="exa.EsPrivado"
          (ionChange)="onChangeEsPrivado($event)"></ion-toggle>
      </ion-item> -->
    
<!--       <ion-grid (click)="ordenSelectedCompleto(exa)">
        <ion-row style=" width: 100%;">
          <ion-col size="8">
            <div class="text-avatar-1">{{exa.NombreExamen}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="text-solicitud" style="float: right;">{{exa.FechaSolicitud}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row class="subtext-avatar-1" *ngIf="exa.Resultados?.length == 0">
              <ion-col *ngIf="exa.FechaMuestra != '01-01-0001'" size="10">
                Fecha de toma {{exa.FechaMuestra}}
              </ion-col>
              <ion-col size="2">
                <ion-icon name="checkmark-outline" color="danger"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="subtext-avatar-1" *ngIf="exa.Resultados?.length != 0">
              <ion-col size="10">
                Fecha resultados {{exa.FechaResultado}}
              </ion-col>
              <ion-col size="2">
                <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
              </ion-col>
    
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    <!-- </ion-item> -->
</div>
<!-- NO HAY ORDENES -->
<div [hidden]="estaCargando" *ngIf="tiene == false && todosPrivados == false" style="position: relative; height: 30vh;">
  <div style="position: absolute; display: table; height: 100%; font-size: 16pt; text-align: center;width: 100%;letter-spacing: 0.5pt;">
    <p style="display: table-cell; vertical-align: middle">No tiene exámenes  <br>registrados
    </p>
  </div>
</div>

<!-- TODOS PRIVADOS -->
<div [hidden]="estaCargando" *ngIf="tiene == true && todosPrivados == true" style="position: relative; height: 30vh;">
  <div style="position: absolute; display: table; height: 100%; font-size: 16pt; text-align: center;width: 100%;letter-spacing: 0.5pt;">
    <p style="display: table-cell; vertical-align: middle">Los exámenes se encuentran  <br>privados
    </p>
  </div>
</div>
</ion-content>
