<ion-header class="back-app">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Validación de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="estaCargando || muestraMensaje">
    <p class="mt-16 ion-padding">Ingresa tu código de seguridad enviado a tu correo electrónico para continuar con tu
      registro.</p>
  
    <form [formGroup]="forma" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo1="matInput" matInput placeholder="0" formControlName="codigoUno" name="codigoUno"
                (keypress)="onKeypressEvent($event)" required>
              <mat-error *ngIf="f.codigoUno.errors && f.codigoUno.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo2="matInput" matInput placeholder="0" formControlName="codigoDos" name="codigoDos"
                (keypress)="onKeypressEvent($event)" required>
              <mat-error *ngIf="f.codigoDos.errors && f.codigoDos.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo3="matInput" matInput placeholder="0" formControlName="codigoTres" name="codigoTres"
                (keypress)="onKeypressEvent($event)" required>
              <mat-error *ngIf="f.codigoTres.errors && f.codigoTres.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo4="matInput" matInput placeholder="0" formControlName="codigoCuatro" name="codigoCuatro"
                (keypress)="onKeypressEvent($event)" required>
              <mat-error *ngIf="f.codigoCuatro.errors && f.codigoCuatro.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo5="matInput" matInput placeholder="0" formControlName="codigoCinco" name="codigoCinco"
                (keypress)="onKeypressEvent($event)" required>
              <mat-error *ngIf="f.codigoCinco.errors && f.codigoCinco.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="2">
            <mat-form-field appearance="outline" style="width: 100%; font-size: 2em;">
              <!-- <mat-label>0</mat-label> -->
              <input #codigo6="matInput" matInput placeholder="0" formControlName="codigoSeis" name="codigoSeis" required>
              <mat-error *ngIf="f.codigoSeis.errors && f.codigoSeis.errors.required">*</mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row class="mt-32">
          <ion-col size="6">
            <button mat-stroked-button color="primary" style="width: 100%;" (click)="cancelarRegistro()">CANCELAR MI REGISTRO</button>
          </ion-col>
          <ion-col size="6">
            <button [disabled]="forma.invalid" mat-flat-button color="primary" style="width: 98%; margin-left: 2%;"
            (click)="onSubmit()">CONTINUAR</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <app-progress [mostrar]="estaCargando" [titulo]="tituloLoading"></app-progress>
  <div [hidden]="!muestraMensaje">
    <app-pagina-mensajes [titulo]="tituloMensaje" [contenido]="contenidoMensaje" [irA]="irA"></app-pagina-mensajes>
  </div>
</ion-content>
