.no-tiene-antecedentes{
    height: 70px;
    width: 100%;
    padding-top: 15px;
    font-size: 16pt;
    letter-spacing: 0.5pt;
    color: #0000008A;
    text-align: center;
    background-color: #FAF9FA;
}