<ion-content [fullscreen]="true" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts" #mySlider>
    <ion-slide>
      <div class="slide">
        <div class="mt-16 ion-text-left font-title" style="padding: 16px; font-size: 20px; margin-bottom: 24px;">Información sincronizada con su establecimiento de salud</div>
        <div class="row">
          <img src="../../assets/imgs_svg/examenes-de-salud.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <div class="mt-32 ion-text-center">Revise sus <strong>antecedentes de salud</strong> y <strong>resultados de exámenes </strong> Registrados en el establecimiento que se atiende regularmente</div>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton-sig" (click)="slides.slideNext()">SIGUIENTE</button>
          </div>          
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/calendario-01.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <div class="mt-16 ion-text-left font-title" style="padding: 16px; font-size: 20px;">Calendario con los eventos de salud</div>
          <div class="mt-32 ion-text-center">
            Acceda a un calendario con los eventos relevantes de su relación con su establecimiento de salud:
             <strong> Atenciones, retiro de medicamentos, retiro De Alimentos y vacunas</strong>
          </div>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton-sig" (click)="slides.slideNext()">SIGUIENTE</button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="row">
          <img src="../../assets/imgs_svg/agendar_citas.svg" alt="asistente" />
        </div>
        <div class="ion-padding">
          <div class="mt-16 ion-text-center font-title" style="padding: 16px; font-size: 20px;">Reserva de horas</div>
          <div class="mt-32 ion-text-center">
            <strong>Reserve o cancele e línea</strong> 
             sus proximas citas en el establecimiento de salud
          </div>
          <div class="row mt-32">
            <button mat-stroked-button color="primary" class="boton" (click)="abrirLogin()">TENGO CUENTA</button>
          </div>
          <div class="row mt-32">
            <hr>
          </div>
          <div class="row mt-32">
            <button mat-raised-button color="primary" class="boton-sig" (click)="abrirPrimerosPasos()">REGISTRARME</button>
          </div>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>

