.mt-24{
    margin-top: 24px;
}
.mt-16{
    margin-top: 16px;
}
.mt-40{
    margin-top: 40px;
    font: normal normal normal 24px 'Roboto';
    letter-spacing: 0px;
    color: #000000DE;
}
.mt-32{
    margin-top: 32px;
}
.mt-62{
    margin-top: 62px;
}
p{
    font: normal normal normal 16px 'Roboto';
    letter-spacing: 0px;
    color: #0000008A;
}
/* slides */
ion-slides {
    height: 100%;
    justify-content: flex-start;
}
.ml-48{
    margin-left: 48px;
}
.mr-48{
    margin-right: 48px;
}
.img-slide-1{
    width: 60%;
}
.boton{
    width: 55%;
}
.boton-sig{
    width: 55%;
    background-color:#ff4081;
}
.font-title{
    font-size: 1em;
}