.m-16{
    margin: 16px;
  }
  .row-card{
    margin-left: 16px;
    margin-right: 16px;
  }
  .img-card{
    width: 80px;
    float: right;
    margin: 0;
    padding: 0;
    min-width: 80px;
  }
  .hora{
    font-size: 0.8em;
  }