<ion-header class="back-app">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="irAHome()" defaultHref="/calendario" class="fcw"></ion-back-button>
    </ion-buttons>
    <ion-title class="fcw">Reserva de horas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none" *ngIf="tieneEstablecimientoRayen">
      <ion-avatar slot="start">
        <img src="../../assets/imgs_nuevas/atenciones.png" />
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <ion-col size="10" class="ion-no-padding">
            <div class="text-avatar">{{nombreEstablecimiento}}</div>
            <div class="subtext-avatar" *ngIf="direccionEstablecimiento != ''">{{direccionEstablecimiento}}</div>
          </ion-col>
          <ion-col size="2" class="ion-no-padding ion-text-end">
            <ion-icon name="options-outline" style="font-size: 2em; color:#000000DE;" (click)="changeFiltros()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none" *ngIf="tieneMedicoCabecera && mostrarProgressDisp == false && ocultarFiltros == false">
      <ion-row style="display: block; width: 100%;" *ngIf="tieneHorasMedicoCabecera">
        <div class="text-avatar ion-text-wrap ion-padding">Tu médico de cabecera es {{nombreMedicoCabecera}} él cuenta con horas disponibles. ¿Deseas consultar sus horas?</div>
        <ion-row>
          <ion-col class="ion-float-right ion-text-end">
            <a mat-raised-button style="float:right; margin:8px;" 
            (click)="seleccionarHorasDelMedico()">{{textoBotonMostrarMedico}}</a>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row style="display: block; width: 100%;" *ngIf="!tieneHorasMedicoCabecera">
        <div class="text-avatar ion-text-wrap ion-padding">Tienes a {{nombreMedicoCabecera}} como médico de cabecera, sin embargo este profesional no cuenta con horas disponibles.</div>
      </ion-row>
    </ion-item>
    <mat-form-field appearance="fill" class="field-tipo-atencion-prof" *ngIf="ocultarFiltros == false">
      <mat-label>Profesional</mat-label>
      <input type="text" class="ion-text-capitalize" [disabled]="disabledCombo" placeholder="Profesional"
        aria-label="Number" matInput [(ngModel)]="comboSeleccionadoProf" (keyup)="filterList($event)"
        (ngModelChange)="changeProfesional()" [matAutocomplete]="auto">
      <button mat-button *ngIf="comboSeleccionadoProf" matSuffix mat-icon-button aria-label="Clear"
        (click)="limpiarProfesional()" [disabled]="disabledCombo">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of profesionalesFiltrados" [value]="option.Texto">
          {{option.Texto}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-tipo-atencion-tda"  *ngIf="ocultarFiltros == false">
      <mat-label>Tipo atención</mat-label>
      <mat-select [disabled]="disabledCombo" [(ngModel)]="comboSeleccionado">
        <mat-option *ngFor="let tipo of tiposAtencion" [value]="tipo.Texto">{{tipo.Texto}}</mat-option>
      </mat-select>
    </mat-form-field>    
  </ion-toolbar>
  <ion-item lines="none" [hidden]="mostrarChips()">
    <ion-chip *ngIf="comboSeleccionadoProf != ''">
      <ion-label class="ion-text-capitalize">{{comboSeleccionadoProf}}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="comboSeleccionado != 'Selecciona...'">
      <ion-label class="ion-text-capitalize">{{comboSeleccionado}}</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item *ngIf="ocultarFiltros == false">
    <a mat-raised-button style="margin:8px;" 
    (click)="btnLimpiarFiltros()" slot="end">LIMPIAR</a>
    <a mat-raised-button color="primary" slot="end" (click)="buscarCitasFiltro($event)">BUSCAR</a>
  </ion-item>
  <ion-item lines="none">
    <app-avatar [style]="false" [urlImagen] = "usuarioAps.UrlImagen" [nombreCompleto]="usuarioAps.Nombres + ' ' + usuarioAps.ApellidoPaterno + ' ' + usuarioAps.ApellidoMaterno" [parentezco]="usuarioAps.Parentezco.Nombre"></app-avatar>
  </ion-item>
</ion-header>

<ion-content class="back-app">
  <app-progress [mostrar]="mostrarProgress" titulo="Buscando citas"></app-progress>
  <app-progress [mostrar]="mostrarProgressDisp" titulo="Buscando tipos atención"></app-progress>
  <!-- resultados -->
  <div *ngIf="encontroCitas">
    <div class="ion-padding-start ion-padding-end" style="padding-top: 12px;">
      <h6 class="titulo-item">
        Citas más próximas
      </h6>
      <p class="ion-text-wrap texto-item">
        A continuación se listan los cupos disponibles más próximos.
      </p>
    </div>
    <div class="ion-padding">
      <ion-grid class="ion-no-padding" *ngFor="let cita of citasFiltradas">
        <ion-row class="ion-padding-bottom ion-padding-top linea-item" *ngIf="cita.indice <= 6" (click)="citaSelected(cita)">
          <ion-col size="9" class="texto-item ion-text-capitalize">
            {{cita.Servicio.Nombre}}
          </ion-col>
          <ion-col size="3" class="titulo-hora ion-text-end">
            {{transformDateIso(cita.FechaHoraInicio)}}
          </ion-col>
          <ion-col size="12" class="titulo-fecha" class="ion-text-capitalize">
            {{transformDate(cita.FechaHoraInicio, 'dddd DD MMMM YYYY')}}
          </ion-col>

          <ion-col size="8" class="texto-item ion-text-capitalize" *ngIf="comboSeleccionado != 'Selecciona...' && comboSeleccionadoProf == ''">
            <strong>{{cita.NombresMedico.toLowerCase()}} {{cita.ApellidosMedico.toLowerCase()}}</strong> 
          </ion-col>
          <ion-col size="8" class="texto-item ion-text-capitalize" *ngIf="comboSeleccionadoProf != ''">
            {{cita.NombresMedico.toLowerCase()}} {{cita.ApellidosMedico.toLowerCase()}}
          </ion-col>  
                 
          <ion-col size="4" class="texto-item ion-text-capitalize" *ngIf="comboSeleccionado == 'Selecciona...'">
            <strong>{{cita.TipoAtencion.toLowerCase()}}</strong>
          </ion-col>

          <ion-col size="8" class="texto-item ion-text-capitalize">
            Sector: {{cita.Sector.toLowerCase()}}
          </ion-col> 
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="!encontroCitas && mostrarProgress == false && citasFiltradas.length > 0" class="ion-padding-start ion-padding-end centrado">
    <ion-label class="ion-text-center no-encontrado">No existen cupos con los criterios ingresados</ion-label>
  </div>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mostrarProgress == false && mostrarProgressDisp == false && encontroCitas" style="min-height: 48px;">
  <ion-button color="secondary" (click)="openBusquedaAvanzada()" shape="round" style="min-height: 48px;">
    <ion-icon slot="start" name="calendar-outline" style="font-size: 24px;margin-right: 12px;"></ion-icon>
    <span class="botonReservar" style="font-size: 1em;">BÚSQUEDA AVANZADA</span>
  </ion-button>
</ion-fab>
